body {
  background-image: url(imagens/form.png);
  text-align: center;
}

section {
  background-color: tomato;
  width: 300px;
  margin: auto;
  border-radius: 20px;
  ;
  box-shadow: 1px 0px 20px 4px rgb(191, 2, 2);
  padding: 50px;
}

#ano {
  width: 200px
}

div {
  font: normal 20pt Arial;
}

#verif {
  font-size: 20px;
}

#secsu {

  font-size: 20px;
}

img {
  font-size: 200px;
  width: 200px;


}