html {
    background-image: url(quadro\ negro.jpg);
}

h1 {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    font-family: cursive;
    color: rgba(12, 235, 53, 0.919);
    text-shadow: -1px -1px 1px black,-1px -1px 1px black,-1px -1px 1px black,-1px -1px 1px black
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
    width: 70%;
    margin: auto;
    background-color: rgb(1, 48, 46);
    border-radius: 20px;
    outline: 5px solid black;
    box-shadow: 1px 3px 8px 12px rgb(255, 255, 255);
}

#div1 {
    font-size: 20px;
    color: white;
    text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
}

#parag {
    background-color: white;
    height: 240px;
    text-align: center;
    line-height: 30px;
    width: 500px;
    border-radius: 10px;
    outline: 5px solid black;
    background-image: url(imagem\ caderno.png);
    background-size: cover;
}

input {
    outline: 2px solid black;
}

#verif {
    outline: 2px solid black;
    width: 103px;
    border-radius: 3px;
    background-color: #049d2d;
    color: white;
}

select {
    width: 285px;
    height: 150px;
    outline: 3px solid black;
    background-image: url(imagem\ caderno.png);
}

#finalizar {
    width: 146px;
    background-color: #049d2d;
    outline: 3px solid black;
    color: white;
    border-radius: 5px;
}
